:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(3, 21, 37);
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body (full page) */
body {
  /* Column alignment */
  display: flex;
  flex-direction: column;

  /* Fix slider problem */
  margin: 0;

  /* Center elements */
  place-items: center;
  justify-content: center;

  /*Dimensions (minimum) */
  min-width: 320px;
  min-height: 100vh;
}

/* Forms */
form {
  /* Column alignment */
  display: flex;
  flex-direction: column;

  /* Separate elemnts */
  gap: 5px;
}

/* Textboxes & Buttons */
input[type="text"], input[type="submit"], #redir, button {
  /* Dimensions */
  box-sizing: border-box;
  width: 200px;

  /* Alignment */
  text-align: center;
  padding: 2px 5px;

  /* Colors & Border */
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: solid 2px rgba(255, 255, 255, 0.05);
}

/* Highlights textbox (& selected option) */
input[type="text"]:focus, .selected-opt {
  border-color: rgba(255, 255, 255, 0.6);
  outline: 0;
}

/* Radio inputs (for template choosings */
input[type="radio"] {
  /* Remove old radio input designs */
  /* (from: https://moderncss.dev/pure-css-custom-styled-radio-buttons/) */
  appearance: none;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0;
  
  /* Dimensions */
  width: 13px;
  height: 13px;

  /* Border */
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;

  /* Fix margins */
  margin: 0px 5px;
  margin-top: 4px;

  /* Pointer cursor */
  cursor: pointer;
}

/* Radio input (checked) */
input[type="radio"]:checked {
  background-color: rgb(255, 255, 255);
}

/* Pointer Events */
button, input[type="radio"] input[type="submit"] {
  cursor: pointer;
}

/* Center elements vertically */
div {
  align-items: center;
}

#redir {
  /* Aligment */
  justify-self: center;
  
  /* Margin */
  margin-top: 30px
}

/* Displaying the current signed-in account */
#CurrentAccount {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}

h1, .centre-text {
  text-align: center;
}

/* Remove hyperlink blue highlight */
a {
  text-decoration: none;
  color: white;
}

/* Aligning to a specific axis */
.list-row, .list-col {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Ordering into rows */
.list-row {
  flex-direction: row;
}

/* Ordering into columns */
.list-col {
  flex-direction: column;
}

/* Element & children have no margin */
.no-margin, .no-margin > * {
  margin: 0 !important;
}